<h1>Your Events</h1>
<% @events.each do |event| %>
  <div>
    <hr>
      <p>Title: <%= event.summary.html_safe %><br>
      <% if event.start_date_time.present?  %>
        Time: <%= event.start_date_time.to_formatted_s(:long_ordinal) %> - <%= event.end_date_time.to_formatted_s(:long_ordinal) %>
      <% else %>
        Date:  <%= event.start_date.to_formatted_s(:long_ordinal) %> - <%= event.end_date.to_formatted_s(:long_ordinal) %>
      <% end %><br>
      Category: <%= event.category %><br>
      Time Spent: <%= event.duration_in_minutes %> Minutes<br>
      <em>Note: all day events are assumed to be 8 hours long</em>
    </p>
  </div>

  <%= form_with url: event_path(event), method: :patch do |f| %>
    <%= f.label 'Add Category'%>
    <%= f.text_field :category %>
    <%= f.submit 'Add' %>
  <% end %>
<% end %>

<h1>Week In Review</h1>


