<h1>Your Events</h1>
<% @events.each do |event| %>
  <div>
    <hr>
      <p><%= event.summary.html_safe %><br>
      <% if event.start_date_time.present?  %>
        <%= event.start_date_time.to_formatted_s(:long_ordinal) %> - <%= event.end_date_time.to_formatted_s(:long_ordinal) %>
      <% else %>
          <%= event.start_date.to_formatted_s(:long_ordinal) %> - <%= event.end_date.to_formatted_s(:long_ordinal) %>
      <% end %>
    </p>
  </div>
<% end %>


